/* -----------------Global-------------------- */



/* -----------------Header-------------------- */



/* -----------------Main-------------------- */
.block_images{
    background-color: #3C6997;
}


/* -----------------Footer-------------------- */




/* -----------------Colors-------------------- */
Color_palette {
    color: #A42222;
    color: #C1BDB3;
    color: #3C6997;
    color: #586F7C;
    color: #040303;
}